@page "/seachresult/{name}"
@layout ASM_C6.Components.Layout.MainLayout
@inject NavigationManager NavigationManager
@rendermode InteractiveServer

<div class="search-results mt-4">
    @if (result != null)
    {
        <ul class="list-group">
            @foreach (var food in result)
            {
                <li class="list-group-item">
                    <div class="d-flex align-items-center">
                        <img src="@food.Image" class="img-fluid rounded me-3" style="width: 50px; height: 50px;" alt="">
                        <span>@food.FoodName - $@food.CurrentPrice / kg</span>
                    </div>
                </li>
            }
        </ul>
    }
    else
    {
        <h3>Could not find similar results</h3>
    }
</div>